/*===========================================

    Universal Styling

===========================================*/
/*========= Color Changes ========*/

.bg-primary {
    background-color: #f1f3f4 !important;
}

.btn-primary {
    background-color: #d1ddbf;
    border: none;
    box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075),
            0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075);
    color: #11212d;
}

h2,
h3,
h4,
h5 {
    color: #11212d !important;
}

/*========= End Color Changes ========*/

ul {
    list-style-type: none;
}

.inline-block {
    display: inline-block !important;
}

/*==== Header ====*/

.navbar {
    background-color: #253b4c !important;
}

.navbar div ul li a {
    color: #f1f3f4 !important;
}

.btn-login {
    background-color: #d1ddbf !important;
    border: none !important;
    color: #253b4c !important;
}

.header {
    background-image: url('images/orr-family.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    height: 50vh;
}

/* Style the header text */
h1 {
    font-size: 2.5rem;
    margin: 100px auto 50px;
    max-width: 600px;
}

.header p {
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

/* Style the logo */
.logo {
    max-width: 100%;
    height: auto;
}

/* Make the header responsive */
/* @media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }
} */

/* Center the text in the header */
.header-text {
    text-align: center;
    padding-top: 25%;
}

/*==== Footer ====*/

.footer {
    background-color: #253b4c !important;
    color: #d1ddbf;
}


/*===========================================

    Home Page Styling

===========================================*/
.testimonial-section,
.testimonial-btn {
    height: 500px;
}

/*===========================================

    About Page Styling

===========================================*/

/*===========================================

    Services Page Styling

===========================================*/